.td-none{
    text-decoration: none;
}

.list-style{
    list-style-type: none;
}

.link-hover{
    font-weight: 550;
    transition: 0.4s all;
}

.link-hover:hover{
    // color: #FE3B1D;
    color: #fe3b1d;
}


// color: #FE3B1D;